# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/ORBSLAM2_notes/Vocabulary/ORBvoc.txt
/ORBSLAM2_notes/build/
/ORBSLAM2_notes/cmake-build-debug/
/ORBSLAM2_notes/.idea/

